.icon_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon_container span {
    padding: 5px;
}

.icon_container .country_icon {
    color: var(--orange-500);
}

.search_container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.search_container * {
    color: #fff !important;
}