.title_container p {
    color: var(--bs-gray-500);
}

.table_title_contaner {
    text-transform: capitalize;
}

.table_title_contaner th {
    font-weight: 600 !important;
    color: inherit;
}

.order_img {
    width: 60px;
    height: auto;
}

.row_container td {
    text-transform: capitalize !important;
    font-weight: 500 !important;
    color: inherit;
}