.container>div {
    margin-bottom: 25px;
}

.container .img_container {
    height: 230px;
    padding: 30px;
    background: no-repeat center center/cover;
    background-image: url("../../../assets/img/earnings.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.container .img_container h5 {
    font-weight: 700;
    text-transform: capitalize;
}

.container .img_container span {
    font-weight: 600;
    font-size: 20px;
}

.ecommerce_data_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 0 8px !important;
}

.digits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.digits span:nth-child(1) {
    margin-right: 5px;
}

.digits span:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
}

.title_box {
    margin-top: 6px;
}

.title_box span {
    font-weight: 400;
    text-transform: capitalize;
    color: var(--bs-gray-600);
}