.aside_container {
    padding: 20px 0 20px 15px !important;
    overflow-y: scroll;
    max-height: 100vh !important;
    position: relative;
    min-width: 290px;
}

@media (max-width:600px) {
    .aside_container {
        min-width: 90vw;
    }
}

.title_container {
    margin-bottom: 26px;
}

.title {
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #888;
}

.link {
    margin-bottom: 8px;
    text-decoration: none;
    color: inherit;
    padding: 8px 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    text-transform: capitalize;
    font-weight: 600;
}

.link:hover {
    color: inherit;
}

.link button {
    color: inherit !important;
    padding: 0;
    margin-right: 4px;
}

.link button:hover {
    background-color: unset;
}

.close_menu_btn {
    position: absolute !important;
    top: 5px;
    right: 5px;
    color: var(--error-color-2) !important;
}

.active_li {
    color: #fff;
    border-radius: 5px 5px 60px 5px !important;
    -webkit-border-radius: 5px 5px 60px 5px !important;
    -moz-border-radius: 5px 5px 60px 5px !important;
    -ms-border-radius: 5px 5px 60px 5px !important;
    -o-border-radius: 5px 5px 60px 5px !important;
}

.active_li * {
    color: #fff;
}

.active_li:hover {
    color: #fff;
}