:root {
    --dark-blue-500: rgb(69, 97, 189);
    --dark-blue-700: rgb(44, 77, 184);
    --dark-blue-900: rgb(18, 58, 190);
    --green-500: rgb(78, 226, 48);
}

::-webkit-scrollbar {
    width: 6px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--dark-blue-500);
    height: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue-700);
}

.offcanvas-backdrop {
    display: none;
}

body {
    background-color: #f5f5f5 !important;
}

h1, h2, h3, h4, h5, h6, div, p {
    font-weight: 500;
}

span {
    font-size: 14px;
    font-weight: 400;
}

button {
    transition: 0.5s background ease-in;
    -webkit-transition: 0.5s background ease-in;
    -moz-transition: 0.5s background ease-in;
    -ms-transition: 0.5s background ease-in;
    -o-transition: 0.5s background ease-in;
}

#js-licensing {
    display: none;
}