@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-kanban/styles/material.css";

:root {
    /* mui colors */
    --success-color: #32ff7e;
    --warning-color: #fed330;
    --error-color-1: #ff4757;
    --error-color-2: #ff3838;
    --cyan-500: #48dbfb;
    --dark-blue-500: rgb(69, 97, 189);
    --dark-blue-700: rgb(44, 77, 184);
    --dark-blue-900: rgb(53 77 157);
    --green-500: rgb(78, 226, 48);
    --green-400: #51d36d;
    --green-300: #78e08f;
    --light-green: #d6ffb8;
    --light-red: #fa9085;
    --orange-500: #ffa502;

    /* other colors */
    --nutral-color-1: #c5c5c5;
    --nutral-color-2: #aaa;
    --neutral: #999;
    --light-body-bg: #f5f5f5;
    --dark-body-bg: #222;
    --icon-color: rgba(0, 0, 0, 0.54);
    --light-cyan: #dff9fb;
    --dark-1: #333;

    /* layout colors */
    --dark-content-bg: #333;
    --dark-content-color: #f5f5f5;
    --light-content-bg: #fff;
    --light-content-color: #111;
    --sub-light-content-bg: #eee;
    --sub-dark-content-bg: #444;
    --light-hover-list: #f6f6f6;
    --dark-hover-list: #393939;

    /* other */
    --light-shadow: 0 0 14px #ccc;
    --dark-shadow: 0 0 14px rgba(0, 0, 0, 20%);
    --content-padding: 60px 0;
    --radius:6px;
    --light-border:1px solid #eee;
    --dark-border:1px solid #444;
}

* {
    margin: 0;
}

button {
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

a {
    text-decoration: none;
    color: inherit;
}

th,
td {
    color: inherit !important;
}

.status-user {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
}

.status-success {
    background-color: var(--success-color);
}

.status-warning {
    background-color: var(--warning-color);
}

.status-error {
    background-color: var(--error-color-2);
}

.content-padding {
    padding: var(--content-padding);
}

.align-center {
    display: flex !important;
    align-items: center;
}

.justify-center {
    display: flex !important;
    justify-content: center;
}

.justify-between {
    display: flex !important;
    justify-content: space-between;
}

.center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}